.CheckoutSummary{
    text-align: center;
    width: 80%;
    margin: auto;
}

.CheckoutSummary h1{
    color: black;
    font-size: 25px;
}

@media (min-width: 600px) {
    .CheckoutSummary{
        width: 500px;
    }
}